fastapi[all]
uvicorn
celery
sqlalchemy[asyncio]
redis
websockets
h3
routingpy
aiosqlite
asyncpg
python-jose[cryptography]
passlib
bcrypt
shapely
python-multipart
geopy[aiohttp]
geojson-pydantic
httpx
pytest
pytest-cov
fakeredis
pytest-asyncio
get-docker-secret
pytz